@mixin flex($direction,$wrap,$content,$items,$gap){
    display: flex;
    flex-direction:$direction ;
    flex-wrap:$wrap;
    justify-content:$content ;
    align-items:$items;
    gap:$gap ;
}
@mixin grid($col,$row,$gap,$areas,$content,$align){
    display: grid;
    grid-template-columns:$col ;
    grid-template-rows:$row ;
    gap:$gap ;
    grid-template-areas:$areas ;
    justify-content:$content ;
    align-content:$align ;

}
@mixin flex-column-itemscenter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin width300px{
    width: 18.75rem;
}