header{
    .divdescuento{
        background: $color-principal;
        font-size: 1.25rem;
        text-align: center;
    }
    .divlogo{
        display: flex;
        justify-content: center;
        
    }
    .imglogo{
        width: 9.375rem;
        height: 9.375rem;
    }
    
}
