@media (max-width:375px){
    main{
        .divdescuento2{
            width: 22.5rem;
            p{
                font-size: 1rem;
            }
        }
        .divimagenes{
            .img1{
                img{
                    width: 17.5rem;
                    height: 18.75rem;
                }
                .texto{
                    h5{
                        font-size: .9375rem;
                        margin: .625rem;
                    }
                }
            }
        }
    }
    .main-contactos{
        div{
            h2{
                width: 37.5rem;
            }
        }
}
.main-nuestrolocal{
    section{
        .divmapa{
            .inframemapa{
                width: 12.5rem;
                height: 18.75rem;
            }
            
        }
    }
    .pnuestrolocal{
        p{
            margin: .625rem;
        }
    }
   
}
footer{
    .divfooter{
        width: 22.5rem;
        flex-direction: column;
        align-items: center;
    }
    .derechos{
        width: 22.5rem;
    }

}  
}